---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BaseLayout>
    <div class="min-h-screen pt-32 px-8 max-w-4xl mx-auto mb-24">
        <h1 class="text-4xl font-bold mb-4">Blog</h1>
        <p class="mb-8 text-muted-foreground">
            👋 Welcome to the Kanri blog! Here, you'll find a collection of articles, tutorials, and insights related to Kanri. Whether you're a Kanri user looking for tips and tricks or a developer interested in the inner workings of the app, this blog is for you.
        </p>

        <div class="grid gap-8 md:grid-cols-2">
            {posts.map((post) => (
                <a href={`/blog/${post.slug}`} class="group">
                    <article class="bg-background-lighter w-full rounded-lg shadow-md overflow-hidden transition-all duration-300 transform hover:scale-105">
                        <div class="p-6">
                            <h2 class="text-2xl font-semibold mb-2 group-hover:text-primary transition-colors duration-300">{post.data.title}</h2>
                            <p class="text-muted-foreground mb-4">{post.data.description}</p>
                            <div class="flex items-center text-sm text-muted-foreground">
                                <span>{new Date(post.data.pubDate).toLocaleDateString()}</span>
                                <span class="mx-2">•</span>
                                <span>{post.data.author}</span>
                            </div>
                        </div>
                    </article>
                </a>
            ))}
        </div>
    </div>
</BaseLayout>

<style>
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }

    article {
        animation: fadeIn 0.5s ease-out forwards;
        opacity: 0;
    }

    article:nth-child(1) { animation-delay: 0.1s; }
    article:nth-child(2) { animation-delay: 0.2s; }
    article:nth-child(3) { animation-delay: 0.3s; }
    article:nth-child(4) { animation-delay: 0.4s; }
</style>