---
import BaseLayout from "@/layouts/BaseLayout.astro"

import Hero from "@/components/sections/Hero.astro"
import Features from "@/components/sections/Features.astro"
import Kanban from "@/components/sections/Kanban.astro"
import Download from "@/components/sections/Download.astro"
---

<BaseLayout>
  <div class="relative">
    <Hero />
    <Features />
    <Kanban />
    <Download />
    <!-- Sections to add: FAQs, last download CTA with aurora bg (https://ui.aceternity.com/components/aurora-background) -->
  </div>
</BaseLayout>


