---
import { Icon } from 'astro-icon/components'
import KanriIcon from "./icons/KanriIcon.astro";

import { buttonVariants } from "@/components/ui/button"
import MobileSheet from "@/components/MobileSheet"

const { title } = Astro.props;
---

<header class="fixed top-0 left-0 bg-background/60 backdrop-blur-lg w-full py-4 px-8 z-50">
    <nav class="max-w-screen-2xl mx-auto flex items-center justify-between">
        <a href="/" class="flex flex-row items-center gap-3 hover:text-primary transition-colors duration-300">
            <KanriIcon classes="size-6" />
            <h1 class="font-bold text-xl">{title}</h1>
        </a>
        <div class="hidden md:flex flex-row items-center gap-6">
            <div class="flex flex-row items-center gap-6 text-card-foreground">
                <a href="/getting-started/what-is-kanri" class="hover:text-primary transition-colors duration-300">
                    Docs
                </a>
                <a href="/blog" class="hover:text-primary transition-colors duration-300">
                    Blog
                </a>
                <a href="/about" class="hover:text-primary transition-colors duration-300">
                    About
                </a>
            </div>
            <div class="flex flex-row items-center gap-2">
                <a href="https://github.com/trobonox/kanri" class={buttonVariants({ variant: "secondary", size: "sm" })}>
                    <Icon class="size-4 mr-2" name="lucide:star" />
                    Star on GitHub
                </a>
                <a href="/download" class={buttonVariants({ variant: "default", size: "sm" })}>
                    <Icon class="size-4 mr-2" name="lucide:download" />
                    Download
                </a>
            </div>
        </div>
        <MobileSheet client:load />
    </nav>
</header>