---
import BaseHead from "@/components/BaseHead.astro"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import "@/styles/globals.css"

const SITE_TITLE = "Kanri - Your Personal Offline Kanban Board App"
const SITE_DESCRIPTION = "Kanri is the last personal Kanban app you need. Fully offline, free and open source. It respects your privacy while providing a modern and simple experience."

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title ?? SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
  </head>
  <body class="dark">
    <div
      class="min-h-screen bg-background text-foreground"
    >
      <Header title="Kanri" />
      <div>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>